@font-face{
    font-family: "RobotoSlab";
    src: url('RobotoSlab-Light.ttf') format('truetype');
}

* {
    font-family: "RobotoSlab";
}

html, body, #container{
    padding:0;
    margin:0;
    width: 300px;
    height: 190px;
    background-color:#fff;
}

header{
    display:block;
}

img{
    padding-left:15px;
    padding-top:5px;
}

h1{
    font-size:21px;
    margin-top:10px;
    margin-left: 20px;
}

hr{
    display: block;
    margin:0;
    margin-left:10px;
    margin-right:10px;
}

.buttonArea{
    height:62px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

h2, h4, h5{
    display:inline-block;
    margin:0;
    padding:15px;
    margin-left:0px;
}

h2{
    font-size:16px;
}

h4{
    margin-left:0px;
}

#footer{
    padding:0;
    margin:0;
    justify-content: center;
}

label {
    margin: 1.5em auto;
}

input {
    position: absolute;
    left: -9999px;
}

.buttonContainer{
    padding: 15px;
}

.slider {
    position: relative;
    width: 5.5em;
    margin:0;
    height: 3em;
    float:right;
    cursor: pointer;
    border-radius: 1.5em;
    transition: 70ms linear;
    background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0)), #ddd;
    box-shadow: 0 0.07em 0.1em -0.1em rgba(0, 0, 0, .4) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, .7);
}

.slider::after {
    position: absolute;
    content: '';
    width: 2em;
    height: 2em;
    top: 0.5em;
    left: 0.5em;
    border-radius: 50%;
    transition: 70ms linear;
    background: linear-gradient(#f5f5f5 10%, #eee);
    box-shadow: 0 0.1em 0.15em -0.05em rgba(255, 255, 255, .9) inset, 0 0.2em 0.2em -0.12em rgba(0, 0, 0, .5);
}

.slider::before {
    position: absolute;
    content: '';
    width: 4em;
    height: 1.5em;
    top: 0.75em;
    left: 0.75em;
    border-radius: 0.75em;
    transition: 70ms linear;
    background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.1)), #d0d0d0;
    box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, .5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, .7), 0 0 0 0 rgba(204, 68, 86, 0.7) inset;
}

 input:checked + .slider::before {
    box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, .5) inset, 0 0.05em 0.08em -0.01em rgba(255, 255, 255, .7), 3em 0 0 0 rgba(68, 204, 102, .7) inset;
}

 input:checked + .slider::after {
    left: 3em;
}

#issueNotice{
    display:none;
}